# eclipse
eclipse/
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
*.launch

# idea
.idea/
out/
*.iml
*.iws
*.ipr

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
